* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: black;
}

.App-header {
  background-color: aquamarine;
  margin-bottom: 1rem;
  height: 3rem;
}

.App-header-nav {
  height: inherit;
}

.App-header-nav-ul {
  height: inherit;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App-header-nav-ul-li_link {
  height: inherit;
  text-decoration: none;
  position: relative;
  z-index: 20;
}

.App-header-nav-ul-li_link:active, .App-header-nav-ul-li_link:hover {
  color: whitesmoke;
}

.home-decoration-1 {
  content: "";
  width: 200px;
  height: 200px;
  border: 5px solid aquamarine;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: -100px;
}

.home-decoration-2 {
  content: "";
  width: 250px;
  height: 250px;
  border: 5px solid aquamarine;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: -100px;
}

.home-decoration-3 {
  content: "";
  width: 300px;
  height: 300px;
  border: 5px solid aquamarine;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: -100px;
}

.instructions {
  position: absolute;
  top: 10%;
  right: 10%;
  color: whitesmoke;
  font-size: 2rem;
  width: 50%;
  height: 200px;
}

.btn-main {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: aquamarine;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-top: 300px;
}

.items-list {
  max-height: 265px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  padding: 0.5rem;
  list-style: none;
  margin-bottom: 1rem;
  border: 2px solid aquamarine;
}

.items-list li {
  background-color: #eee;
  border-radius: 6px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.items-list li:hover {
  background-color: #ddd;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
}

.recipe-card {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.recipe-title {
  height: 60px;
  margin-bottom: 0.5rem;
}

.recipe-image {
  width: 400px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.btn-details {
  color: #fff;
  padding: 15px 25px;
  margin-top: 0.5rem;
  border-radius: 100px;
  background: linear-gradient(270deg, aquamarine, black);
  background-size: 200% 100%;
  background-position: right center;
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  transition: background-position 0.5s ease-in-out;
}

.btn-details:hover {
  color: whitesmoke;
  background-position: left center;
}

@media screen and (max-width: 720px) {
  .btn-main {
    margin-top: 450px;
  }
}

@media screen and (max-width: 590px) {
  .btn-main {
    margin-top: 250px;
  }

  .instructions {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .recipe-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  
.recipe-image {
  width: 350px;
}
}
